/* ---------------------------
    - ANNONCE TOP
-----------------------------*/

.annonce-top
{
    background:var(--jet-3);
}

.annonce-top .container{
    padding-block: var(--block-padding);
    padding-inline: var(--inline-padding);
}

.annonce-top .text-content{
    text-align: center;
    font-size: var(--fs-8);
    color: var(--white);
    font-weight: var(--fw-500);
}

.annonce-top .text-content .text-tag {
    text-transform: capitalize;
    text-decoration: underline;
}

.annonce-top .text-content strong:last-child {
    margin-inline: 10px;
}

.annonce-top.fixed{
    position: fixed;
    top: 0;
    left: 0;
    height: auto;
    width: 100%;
    z-index: 1;
}