
/*-------------------
    - STORIES LIST
 ------------------ */
.stories .title-head{
   color: var(--black);
   font-weight: var(--fw-500);
   margin-block: 10px;
   margin-inline-start: 20px;
}

.story-list{
   display: flex;
   flex-direction: row;
   overflow-x: auto;
   column-gap:10px;
   scroll-snap-type: inline mandatory;
}

.story-list::-webkit-scrollbar{
   display:none;
}

.story-list .story-item{
   min-width: calc(100% - 50px);
   margin-inline: 30px;
   box-shadow: var(--shadow-2);
   padding-block-end: 5px;
   margin-block-end: 30px;
   scroll-snap-align: center;
  /* overflow: hidden;*/
}


.story-list .title{
  text-align: left;
  font-size: var(--fs-6);
  border-bottom: 1px solid var(--silver);
  padding-block: 10px;
}

.story-list .icon{
  color: var(--black);
  font-size: var(--fs-6);
  display: flex;
  align-items: center;
}

.story-list .content{
   padding-inline: 20px;
   padding-block: 10px;
}

.story-list .content .text-content{
   font-size: var(--fs-7);
   padding-block: 10px;
   color: var(--black);
}

.story-card,.story-item,.img-holder{
   position: relative;
}

.fly-item{
    position: absolute;
   top: 22px;
   right: -40px;
   background: var(--first-color);
   z-index: 100;
   width: 150px;
   padding-inline: 10px;
   padding-block: 5px;
   color: var(--black);
   font-size: var(--fs-6);
   border-bottom-left-radius: 25px;
   border-top-left-radius: 25px;
   font-weight: var(--fw-300);
}
