/* ----------------------
    - BREADCRUMBS
---------------------- */

.breadcrumb-item{
    background: var(--gray);
}

.breadcrumb-item .container{
    padding-block: 40px;
    padding-inline: 20px;
}

.breadcrumb-item .wrapper{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap:20px;
}

.breadcrumb-item .wrapper {
    display: flex;
    flex-direction: row;
}


.breadcrumb-item span{
    font-size: var(--fs-7);
}
