/* ---------------------
        - cart 
        ---------------*/

.cart .container {
  max-width: 540px;
  margin-inline: auto;
  padding-inline: 20px;
  padding-block: 10px;
}

.cart .wrapper {
}

.cart table {
}

.cart table thead {
  display: none;
}

.cart table tbody  {
  display: flex;
  flex-direction: column;
  gap: 20px;
}


.cart table tbody tr {
    display: flex;
    flex-direction: column;
    border: 1px solid var(--silver);
}

.cart table tbody th {
    display: table-row-group;
}

.cart table tbody tr {
    font-size: var(--fs-6);
    text-align: right;
}

.cart table tbody tr td:last-child{
    font-size: var(--fs-5);
    text-align: center;
}

.cart table tbody tr td{
    position: relative;
    padding-inline: 20px;
    padding-block: 10px;
}

.cart table tbody tr .price::before{
    content : 'Price :';
    position: absolute;
    left: 10px;
    font-weight: bold;
}

.cart table tbody tr .qty::before{
    content : 'Qty : ';
    position: absolute;
    left: 10px;
    font-weight: bold;

    
  }
  
  
.cart table tbody tr .total::before{
    content : 'Total : ';
    position: absolute;
    left: 10px;
    font-weight: bold;
}

.cart table tbody tr img {
  width: 100%;
  height: auto;
}

.cart table tbody tr td:nth-child(2) {
  border-bottom: 1px solid var(--black);
  text-align: center;
}

.cart .shopping-cart-delete{
    text-align: center;
}

.cart-actions{
  padding-block: 10px;
}

.cart input{
 
    line-height: 30px;
    width: -webkit-fill-available;
    border: 1px solid silver;
    flex: 3;
    text-transform: capitalize;
    padding-inline: 10px;
    outline: none;
}


.cart .btn{
  flex: 2;
  background: var(--first-color);
  color: var(--white);
  padding-block: 9px;
}

.cart-summary{
  border: 1px solid var(--silver);
  padding: 20px;
}

.cart-summary h6 {
  font-size: var(--fs-6);
  padding-block-end: 10px;
}

.cart-summary ul li{
  border-bottom: 1px solid var(--silver);
  padding-block: 10px;
}

.cart-summary ul li span{
  float: right;
}


.cart-summary ul li:last-child{
  font-size: var(--fs-6);
}


button a{
  color: var(--white);
}
