/* ------------------------
    - CUSTOM CSS
--------------------------*/

.container {
}

.cover {
  object-fit: cover;
  height: inherit;
  width: 100%;
}

.btn {
  background: var(--white);
  color: var(--black);
  padding: 15px;
}

.btn-black {
  background-color: var(--black);
  color: var(--white);
  width: 100%;
  padding: 15px;
  font-size: var(--fs-7);
  margin-block: 10px;
  text-transform: uppercase;
  font-weight: var(--fw-500);
  width: 100%;
}

.text-content{
  font-size: var(--fs-7);
  text-align: center;
  font-weight: var(--fw-300);
}

.text-content::first-letter {
  text-transform: uppercase;
}

.title{
    text-align: center;
    font-size: var(--fs-5);
}

.title-inline{
    text-align: center;
    padding-block-end: var(--padding-block-20);
}

.btn:is(:hover, :focus-visible) {
  /* background: var(--smokey-black); */
}

.btn:is(:hover, :focus-visible) a {
  color: var(--white);
}

.animated {
  position: relative;
  background: var(--white);
  z-index: 100;
  transition: 1s ease;
}

.animated:after {
  content: "";
  position: absolute;
  background: var(--dark-black);
  top: 0;
  left: 50%;
  height: 100%;
  width: 0%;
  transform: translateX(-50%);
  transition: width 1s ease;
  z-index: -1;
}

.animated:hover::after {
  width: 100%;
}

.img-holder {
  background: var(--jet-1);
  overflow: hidden;
  width: 100%;
  height: 350px;
}

.img-banner-holder {
  background: var(--jet-1);
  overflow: hidden;
  width: 100%;
  height: 300px;
}

.img-holder:hover img {
  transform: scale(1.2);
  transition: var(--transition-3);
  cursor: pointer;
}

.fly-btn {
  position: absolute;
  top: -200px;
  left: 60px;
  width: max-content;
  font-size: var(--fs-6);
  background: var(--white);
  color: var(--black);
  width: 222px;
  visibility: hidden;
}


.cover-image {
  height: 100%;
  width: 100%;
  object-fit: cover;
  object-position: left;
}

.wrapper-inline {
  display: flex;
  flex-direction: row;
  overflow-x: scroll;
  gap: 15px;
  scroll-snap-type: inline mandatory;
  padding-block-end: var(--padding-inline-40);
}

.wrapper-inline::-webkit-scrollbar {
  display: none;
}

.item-inline {
  min-width: calc(100% - 60px);
  scroll-snap-align: center;
  box-shadow: var(--shadow-2);
  transition: var(--transition-3);
  cursor: grab;
}

.item-content-inline {
  padding-inline: var(--padding-inline-20);
  padding-block: var(--padding-block-20);
}

.item-inline:first-child {
  margin-left: 30px;
}

.item-inline:last-child {
  margin-right: 30px;
}

.item-title {
  text-transform: lowercase;
  text-align: center;
  color: var(--black);
  font-size:var(--fs-5);
}

.item-title::first-letter {
  text-transform: capitalize;
}

.btn-bg-black {
  color: var(--white);
  letter-spacing: 5px;
  font-weight: var(--fw-500);
  background: var(--black);
  width: 100%;
  font-weight: var(--fw-500);
  font-size: var(--fs-6);
  text-transform: uppercase;
}

.gap-10 {
  gap: 10;
}

.has-before {
  position: relative;
  z-index: 1;
}

.has-before::before {
  content: "";
  position: absolute;
  background: var(--gradient-1);
}

.fly-item {
  position: absolute;
  top: 0;
  right: -0;
  background: var(--first-color);
  z-index: 100;
  width: 150px;
  padding-inline: 10px;
  padding-block: 5px;
  color: var(--black);
  font-size: var(--fs-6);
  border-bottom-left-radius: 25px;
  border-top-left-radius: 25px;
  font-weight: var(--fw-300);
}

.flex-row {
  display: flex;
  flex-direction: row;
}

.align-item-center {
  align-items: center;
}

/*
    * DAT REVEAL
*/

[data-reveal] {
  transform: translateY(50px);
  opacity: 0;
  transition: var(--transition-2);
}

[data-reveal="left"] {
  transform: translateX(-50px);
}

[data-reveal="right"] {
  transform: translateX(50px);
}

[data-reveal].revealed {
  transform: translate(0);
  opacity: 1;
}

.show {
  display: block;
  animatoin: show 0.5s ease;
}

.hide {
  display: none;
}

.white {
  color: var(--white) !important;
}

span {
  color: var(--black);
}

.input-text {
  padding-block: 22px;
  padding-inline: 40px;
  outline: none;
  border: none;
}

.input-text:is(:hover, :focus-visible) {
  border-bottom: 2px solid var(--black);
}

.icon-medium {
  font-size: var(--fs-5);
}

.icon-small {
  font-size: var(--fs-8);
}

select {
  padding-block: 10px;
  padding-inline: 20px;
  outline: none;
  background: var(--white);
}

.padding-block-inline-20 {
  padding-block: 20px;
  padding-inline: 20px;
}

.d-none {
  display: none;
}

.icon-large {
  font-size: var(--fs-2);
}

.fade {
  /* animation: fade .5s ease-in-out; */
}

.first-letter-cap::first-letter {
  text-transform: uppercase;
}
