/*----------------------
	- FOOTER
-----------------------*/

.footer {
	background: var(--jet-2);
	margin-block-start: var(--section-padding);
	position: relative;
}

.footer .footer-top .container {
	display: grid;
	grid-template-columns: 1fr;
	padding-block-start: 40px;
}

.footer .wrapper li:first-child {
	font-size: var(--fs-6);
	font-weight: var(--fw-500);
	color: var(--white);
}

.footer .wrapper li a {
	font-size: var(--fs-7);
	font-weight: var(--fw-400);
	color: var(--white);
}

.footer .wrapper .title {
	font-size: var(--fs-8);
	font-weight: var(--fw-500);
	color: var(--white);
}

.footer .wrapper {
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 10px;
	margin-block: 20px;
}


.footer .footer-bottom .container {
	
}

.footer .footer-bottom .wrapper{
	display: flex;
    flex-direction: column;
}

.footer .logo {
	font-size: var(--fs-3);
	font-weight: var(--fw-500);
	text-transform: uppercase;
	text-align: center;
	color: var(--white);

}

.social-icons {
	display: flex;
	gap: 20px;
}


.social-icons .icon {
	font-size: var(--fs-5);
}

.footer-bottom :is(.text-content, .text-link) {
	color: var(--white);
	text-align: center;
}

