/* -------------------
    - PRODUCT
-------------------- */

.products {

}

.products .container {

}

.product-description{
  font-size: var(--fs-6);
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 20px;
  text-transform: capitalize;
}


.item-content-inline{
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
}


.new-arrivals {
  padding-block: var(--section-padding);
}


.new-arrivals .container .item-title{

}
