/* -------------------
    - PRODUCT
-------------------- */

.products {
}

.products .container {
  
}

.product-description{
  font-size: var(--fs-6);
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 20px;
  text-transform: capitalize;
  
}