/* -----------------------
    - SHOP PRODUCTS
------------------------ */

.shop-products{

}

.shop-products .container{
    /* padding-inline: 40px; */
}

.shop-products .wrapper{
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.shop-products .product-item:first-child{
}

.shop-products .product-item{
    margin: auto;
    box-shadow: var(--shadow-2);
    width: 300px;
}

.shop-products .product-item .img-holder{
    position: relative;
    width: 100%;
    height: auto;
    background:transparent;
}

.shop-products .product-item img{
    width: 100%;
    height: 269px;
    object-fit: cover;
    aspect-ratio: 1/1;
}

.product-content{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 10px;
    padding: 15px;
}

.product-content :is( .title) {
    text-transform: capitalize;

}

.product-content .price{
    font-size: var(--fs-6);
}

.product-content .title{
    font-size: var(--fs-6);
}

.product-item .fly-item{
    position: absolute;
    top: 235px;
    right: 45px;
    background: transparent;
    z-index: 100;
    width: 150px;
    color: white;
    font-size: var(--fs-6);
    font-weight: var(--fw-300);
    width: auto;
    font-weight: bold;
}

.paginator{
    display: flex;
    gap: 20px;
    padding-block: 20px;
    padding-inline: 41px;
    align-items: center;
    justify-content: center;
    font-size: var(--fs-4);
    flex-wrap: wrap;
}

.paginator .paginator-item .selected a {
    background: var(--first-color);
    font-weight: var(--fw-500);
}

.paginator .paginator-item  a {
    font-weight: var(--fw-300);
}

.quick-add{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    border-top: 1px solid var(--silver);
}

.quick-add :is(.icon,.title){
    font-size: var(--fs-6);
    text-transform: capitalize;
}

.product-colors{
    display: flex;
    gap: 20px;  
    align-items: center;
    justify-content: center;

}

.product-colors  :is(label){
    width: 30px;
    height:30px;
    border-radius: 50px;
    position: relative;
    cursor: pointer;
}

.product-colors label.active{
    border: 3px solid var(--silver);
    width: 40px;
    height: 40px;
    
}

.product-colors  :is(input){
    cursor: pointer;
    height: 100%;
    opacity: 0;
    position: absolute;
}