/* -----------------------
    - SHOP PRODUCTS
------------------------ */


/* GRID LIST */

.shop-area .row{
    position: relative;
}
.shop-products {
  margin-block: 20px;
  }
  
  .shop-products  .product-item {
  box-shadow: none !important;
  }

  .shop-products  .product-item:hover {
  box-shadow: var(--shadow-2) !important;
  cursor: pointer;
  /* transition: var(--transition-1);
  transform: scale(1.1); */
  
  }

  .shop-products  .product-item:hover .quick-add{
    visibility: visible;
  }


  .shop-products  .product-item:hover .quick-add:hover{
    background: var(--second-color);
    color: var(--white);
    padding-inline: 10px;
  }
  
  .shop-products  .product-item:hover .quick-add:hover :is(.title){
    color: var(--white);
  }


.shop-products .container{
    /* padding-inline: 40px; */
}

.shop-products .list .wrapper{
    display: flex;
    flex-direction: row;
    gap: 20px;
    flex-wrap: wrap;
    justify-content: center;
}

.shop-products .grid .wrapper{
    margin: auto;
    display: grid;
	grid-template-columns: 1fr 1fr;
    gap: 20px;
    padding-inline: 20px;
}

.shop-products .grid .product-item{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
}


.shop-products  .product-item .img-holder{
    position: relative;
    width: 100%;
    height: auto;
    background:transparent;
    align-self: center;
}

.shop-products  .product-item img{
    width: 100%;
    height: auto;
    object-fit: cover;
    aspect-ratio: 1/1;  
    /* transition: .2s; */
}

.product-content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 10px;
    padding-inline: 10px;
}

.product-content a{
   width: 100%;
}

.product-content .title {
    text-transform: capitalize;
    font-size: var(--fs-7);
    font-weight: bold;
}

.product-content .price{
    font-size: var(--fs-8);
    margin-inline-start: 10px;
}

.product-content .discount{
    font-size: var(--fs-7);
    color: var(--second-color);
    font-weight: bold;
}

.product-content .text-content{
    text-align: left;
}

.product-item .fly-item{
    position: absolute;
    top: 235px;
    right: 45px;
    background: transparent;
    z-index: 100;
    width: 150px;
    color: white;
    font-size: var(--fs-6);
    font-weight: var(--fw-300);
    width: auto;
    font-weight: bold;
}

.paginator{
    display: flex;
    gap: 20px;
    padding-block: 20px;
    padding-inline: 41px;
    align-items: center;
    justify-content: center;
    font-size: var(--fs-4);
    flex-wrap: wrap;
    cursor: pointer;
}
.selected a {
    color: var(--second-color);
    font-weight: var(--fw-500);
}


.paginator .paginator-item  a {
    font-weight: var(--fw-300);
}


.grid .quick-add{
    visibility: hidden;
    display: flex;
 justify-content: space-between;
 align-items: center;
 padding: 10px;
 margin-block-start: 10px;
}

.list .product-item .quick-add-link{
    position: absolute;
    bottom: 0;
    width: -webkit-fill-available;
}

.list .quick-add{
 visibility: hidden;
 display: flex;
 justify-content: space-between;
 align-items: center;
 padding: 10px;
 margin-block-start: 10px;
}

.quick-add :is(.icon,.title){
    font-size: var(--fs-6);
    text-transform: capitalize;
}

.product-colors{
    display: flex;
    gap: 20px;  
    align-items: center;
    justify-content: flex-start;
}

.product-colors  :is(label){
    width: 30px;
    height:30px;
    border-radius: 50px;
    position: relative;
    cursor: pointer;
    border: 1px solid var(--silver);
}

.product-colors label:hover{
    border: 4px solid var(--silver);
    transition: var(-transition-1);
}

.product-colors label.active {
    border: 4px solid var(--silver);
    width: 40px;
    height: 40px;
}

.product-colors  :is(input){
    cursor: pointer;
    height: 100%;
    opacity: 0;
    position: absolute;
}



/* LIST  */

.shop-wrapper{
    flex: 1;
}

.shop-wrapper .shop-products .text-content{
   display: none;
}

.shop-wrapper .title{
   text-align: left;
}
.shop-products .list  .product-item{
    margin: auto;
    box-shadow: var(--shadow-2);
    width: 95%;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    transition: var(--transition-1);
    position: relative;
}

/* SHOP TOPBAR */
.shop-topbar svg{
    display: block;
    margin-left: auto;
    font-size: var(--fs-6);
  }

  .shop-topbar .wrapper{
    display: flex;
    align-items: center;  
    padding-block: 20px;
}

.shop-topbar .icons{
  display: flex;
  margin-left: auto;
  gap: 30px;
}
.shop-topbar .wrapper .icon:hover{
    color: var(--second-color);
}
