/* ------------------------
    - variables CSS
--------------------------*/

:root {


    /* 
        * COULEURS PRINCIPALES
    */

    --first-color: #F6F6C9;
    --second-color: #FF6464;
    --third-color: #B3FFAE;


    /* 
        * COULEURS AUXILIARES
    */

    --smokey-black: hsl(0, 0%, 7%);
    --eerie-black: hsl(0, 0%, 9%);
    --dark-black: rgb(33, 42, 47);
    --radical-red: hsl(346, 100%, 58%);
    --white_a9: hsla(0, 0%, 100%, 0.09);
    --white_a15: hsla(0, 0%, 100%, 0.15);
    --white_a25: hsla(0, 0%, 100%, 0.25);
    --white_a50: hsla(0, 0%, 100%, 0.5);
    --white_a70: hsla(0, 0%, 100%, 0.7);
    --white_a75: hsla(0, 0%, 100%, 0.75);
    --white_a80: hsla(0, 0%, 100%, 0.8);
    --white_a100: #f2f2f2;
    --white_a110: rgb(245, 245, 245);
    --silver: #cecdcd;
    --jet-1: hsl(0, 0%, 20%);
    --jet-2: hsl(0, 0%, 16%);
    --jet-3: rgb(60, 49, 63);
    --white: hsl(0, 0%, 100%);
    --black: rgb(33, 42, 47);



    /* 
        * GRADIENT
    */

    --gradient-1: linear-gradient(180deg, transparent, var(--smokey-black));
    --gradient-2: linear-gradient(180deg, var(--smokey-black) 25%, hsla(0, 0%, 0%, 0.6) 80%);

    /* 
        * TYPOGRAPIE
    */

    --ff-recoleta: "Recoleta", sans-serif;
    --ff-gordita: "Gordita", sans-serif;
    --ff-astral: "Astral", sans-serif;
    --ff-intense: "Intense", sans-serif;


    /* 
        * SIZES
    */

    --fs-1: 7rem;
    --fs-2: 6rem;
    --fs-3: 5rem;
    --fs-4: 4rem;
    --fs-5: 3rem;
    --fs-6: 2rem;
    --fs-7: 1.5rem;
    --fs-8: 1.2rem;

    /* 
        * WEIGHT
    */

    --fw-300: 300;
    --fw-400: 400;
    --fw-500: 500;

    /* 
        * SHADOW 
    */
    --shadow: 0 12px 30px -10px hsla(0, 0%, 14%, 0.1);
    --shadow-2: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
    --shadow-3: rgba(0, 0, 0, 0.45) 0px 25px 20px -20px;
    --shadow-4: rgba(0, 0, 0, 0.56) 0px 22px 70px 4px;


    /* 
        * SPACING
    */

    --section-padding: 40px;
    --padding-block-5: 5px;
    --padding-block-10: 10px;
    --padding-block-20: 20px;
    --padding-block-25: 25px;
    --padding-block-30: 30px;
    --padding-block-40: 40px;  
    
    --padding-inline-5: 5px;
    --padding-inline-10: 10px;
    --padding-inline-20: 20px;
    --padding-inline-25: 25px;
    --padding-inline-30: 30px;
    --padding-inline-40: 40px;


    /* 
        * BORDER RADIUS
    */

    --radius-circle: 50%;
    --radius-5: 5px;
    --radius-25: 25px;

    /* 
        * TRANSITIONS
    */
    --transition-1: 0.25s ease;
    --transition-2: 0.5s ease;
    --transition-3: 1s ease;
    --cubic-in: cubic-bezier(0.51, 0.03, 0.64, 0.28);
    --cubic-out: cubic-bezier(0.33, 0.85, 0.4, 0.96);


    /* 
        *  RESPONSIVE CSS VARIABLES
    */
  
    --ml-maxwidth : "540px";
    --tablette-maxwidth : "740px";
    --lm-maxwidth : "940px";
    --ll-maxwidth : "1140px";

}