/*-------------------

	- NEWSLETTER
--------------------*/

.newsletter{
	background: var(--white_a100);
	margin-block: 20px;
}

.newsletter .container{
	place-content: center;
	padding-block: 20px;
	padding-inline: 40px;
}

.newsletter .container .title{
	text-align: center;
	font-size: var(--fs-6);
	margin-block: 10px;
}

.newsletter .container .text-content{
	text-align: center;
	font-size: var(--fs-7);
}

.form-container{
	margin-block: 40px;

}.form-container{
	margin-block: 20px;
}

.form-container .input{
	line-height: 40px;
	width: 100%;
	padding-inline: 10px;
	background: var(--white);
	color: var(--silver);
	outline: none;
	border: none;
	border-bottom: 2px solid var(--black);
}

.form-container .input:focus{
	outline: 2px solid var(--black) ;
	border-bottom: none;
}

.privacy-terms{
	text-align: center;
	color: var(--black);
}