/**********************************/

/* - RESPONSIVE CSS-

***********************************/

/* ------------------------------
    - MEDIA QUERY LARGER THAN 575
--------------------------------*/
@media (min-width: 575px) {
  .container {
    max-width: inherit;
    margin-inline: auto;
  }
  .category-tag .container{
    max-width: inherit;
  }
}

/* ------------------------------
    - MEDIA QUERY LARGER THAN 768
--------------------------------*/
@media (min-width: 768px) {
  .container {
    max-width: inherit;
    margin-inline: auto;
  }

  .item-inline{
    min-width: calc(50% - 35px);
  }
}

/* ------------------------------
    - MEDIA QUERY LARGER THAN 992
--------------------------------*/

@media (min-width: 992px) {

  .container{
    max-width: inherit;
    margin-inline: auto;
  }

  .category-one .container{
    max-width: var(--lm-maxwidth);
  }

  .item-inline{
    min-width: calc(33% - 25px);
  }


  :root {
    /* 
        * SIZES
    */
    --fs-1: 7.5rem;
    --fs-2: 6.5rem;
    --fs-3: 5.5rem;
    --fs-4: 4.5rem;
    --fs-5: 3.5rem;
    --fs-6: 2.5rem;
    --fs-7: 2rem;
    --fs-8: 1.7rem;
  }

  .header-one .icon-group .fly-number {
    height: 20px;
    width: 20px;
  }

  .header-one .language-currency {
    display: flex;
    position: relative;
    gap: 80px;
  }

  .header-one .language {
    display: block;
    position: relative;
  }

  .header-one .dropdown-btn {
    position: relative;
  }

  .header-one .language span {
    font-size: var(--fs-8);
  }

  .header-one .language svg {
    margin-left: 10px;
  }

  .header-one .dropdown-content {
    position: absolute;
    background: var(--white);
    width: 150px;
    padding-block: var(--padding-block-10);
    padding-inline: var(--padding-inline-10);
    box-shadow: var(--shadow-2);
  }

  .header-one .language-currency .dropdown-content button {
    color: var(--black);
  }

  .header-one .language-currency .dropdown-content ul li {
    padding-block: 10px;
  }

  .header-one .dropdown-content ul li button:hover {
    color: red !important;
    transition: all 0.5s ease;
  }

  .header-one .dropdown-content ul li button:hover {
    color: red !important;
    transition: all 0.5s ease;
  }

  .header-one .wrapper .hide {
    display: block;
    animation: show var(--transition-3);
  }

  .dropdown-content {
    /* display: none; */
  }

  .header-one .language:hover span {
    cursor: pointer;
  }

  .header-one .dropdown-btn:hover .dropdown-content {
    display: block;
    transition: var(--transition-3) ease;
    z-index: 99999;
  }

  .header-one .icon-group .dropdown-btn:hover .dropdown-content {
    display: block;
    animation: opacity var(--transition-3);
  }

  .header-one .wrapper {
    justify-content: space-between;
  }

  .header-one .logo {
    margin-inline-start: 250px;
  }

  .mobile-menu {
    display: none;
  }

  .header-one .language:after {
    content: "|";
    position: absolute;
    width: 1px;
    top: 0;
    right: -50px;
    color: var(--silver);
  }

  .header-one .icon .dropdown-btn.user {
    right: -84px;
  }

  .header-one .mobile-menu-btn {
    display: none;
  }

  /* Mobile menu */
  .header-one .mobile-menu {
    display: none;
  }

  .slide-area .content{
    position: absolute;
    left: 10px;
    top: 215px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 20px;
    transition: all var(--transition-3) ease;
  }



}

/* ----------------------------
      - RESPONSIVE MIN 1200px
  --------------------------- */
@media (min-width: 1200px) {
  .container {
    max-width: var(--ll-maxwidth);
    margin-inline: auto;
  }

  .header-one .language {
    display: block;
  }

  .category-one .container{
    max-width: var(--ll-maxwidth);
    margin-inline: auto;
  }

}
