/**********************************/

/* - RESPONSIVE CSS-

***********************************/

/* ------------------------------
    - MEDIA QUERY LARGER THAN 575
--------------------------------*/
@media (min-width: 575px) {
  .container {
    max-width: inherit;
    margin-inline: auto;
  }
  .category-tag .container {
    max-width: inherit;
  } 
  
  .shop-topbar .container {
    max-width: 540px;
  }

  .shop-products .list .product-item {
    margin: auto;
    box-shadow: var(--shadow-2);
    width: 300px;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    width: 540px;
    height: 250px;
  }

  .shop-products .list .quick-add .title {
    font-size: var(--fs-8);
  }

  .shop-topbar svg{
    display: block;
    margin-left: auto;
    font-size: var(--fs-6);
  }

  .shop-topbar .wrapper{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-block: 20px;
}


}

/* ------------------------------
    - MEDIA QUERY LARGER THAN 768
--------------------------------*/
@media (min-width: 768px) {
  .container {
    max-width: inherit;
    margin-inline: auto;
  }

  .item-inline {
    min-width: calc(50% - 35px);
  }

  .banner-action .container {
    padding-inline: 100px;
  }

  .shop-products .grid .wrapper {
    display: grid;
    gap: 10px;
    grid-template-columns: 1fr 1fr 1fr;
    padding-inline: 20px;
  }

  .shop-products .grid .product-item {
    margin: auto;
    box-shadow: var(--shadow-2);
    width: 100%;
    transition: var(--transition-1);
  }

  .shop-topbar .container {
    max-width: 540px;
  }

  .product-detail .container {
  max-width: inherit;
}

  .product-detail .wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
  }

  .product-detail .content {
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 100%;
    padding-inline: 31px;
    padding-block: 0;
}

}

/* ------------------------------
    - MEDIA QUERY LARGER THAN 992
--------------------------------*/

@media (min-width: 992px) {
  .container {
    max-width: inherit;
    margin-inline: auto;
  }

  .category-one .container {
    max-width: var(--lm-maxwidth);
  }

  .item-inline {
    min-width: calc(33% - 25px);
  }

  .item-inline:hover .fly-btn {
    visibility: visible;
    cursor: pointer;
  }

  .item-inline .fly-btn:hover {
    background: var(--black);
    color: var(--white);
  }

  .item-inline:hover img {
    opacity: 0.5;
  }

  .item-inline .fly-btn:hover img {
    opacity: 0.5;
  }

  .product-btn-actions {
    display: none;
  }

  :root {
    /* 
        * SIZES
    */
    --fs-1: 7.5rem;
    --fs-2: 6.5rem;
    --fs-3: 5.5rem;
    --fs-4: 4.5rem;
    --fs-5: 3.5rem;
    --fs-6: 2.5rem;
    --fs-7: 2rem;
    --fs-8: 1.7rem;
  }

  .header-one .icon-group .fly-number {
    /* height: 20px;
    width: 20px; */
  }

  .header-one .language-currency {
    display: flex;
    position: relative;
    gap: 80px;
  }

  .header-one .language {
    display: block;
    position: relative;
  }

  .header-one .dropdown-btn {
    position: relative;
  }

  .header-one .language span {
    font-size: var(--fs-8);
  }

  .header-one .language svg {
    margin-left: 10px;
  }

  .header-one .language .dropdown-content {
    position: absolute;
    background: var(--white);
    width: 150px;
    padding-block: var(--padding-block-10);
    padding-inline: var(--padding-inline-10);
    box-shadow: var(--shadow-2);
    animation: rotateMenu 0.6s ease;
  }

  .header-one .language-currency .dropdown-content button {
    color: var(--black);
  }

  .header-one .language-currency .dropdown-content ul li {
    padding-block: 10px;
  }

  .header-one .dropdown-content ul li button:hover {
    color: red !important;
    transition: all 0.5s ease;
  }

  .header-one .dropdown-content ul li button:hover {
    color: red !important;
    transition: all 0.5s ease;
  }

  .header-one .wrapper .hide {
    display: block;
    animation: show var(--transition-3);
  }

  .dropdown-content {
    /* display: none; */
  }

  .header-one .language:hover span {
    cursor: pointer;
  }

  .header-one .dropdown-btn:hover .dropdown-content {
    display: block;
    transition: var(--transition-3) ease;
    z-index: 99999;
  }

  .header-one .icon-group .dropdown-btn:hover .dropdown-content {
    display: block;
    position: absolute;
    background: var(--white);
    width: 150px;
    padding-inline: 20px;
    animation: rotateMenu 0.6s ease;
  }

  .header-one .wrapper {
    justify-content: space-between;
  }

  .header-one .logo {
    margin-inline-start: 140px;
  }

  .mobile-menu {
    display: none;
  }

  .header-one .language:after {
    content: "|";
    position: absolute;
    width: 1px;
    top: 0;
    right: -50px;
    color: var(--silver);
  }

  .header-one .icon .dropdown-btn.user {
    right: -84px;
  }

  .header-one .mobile-menu-btn {
    display: none;
  }

  /* Mobile menu */
  .header-one .mobile-menu {
    display: none;
  }

  .slide-area .content {
    position: absolute;
    left: 100px;
    top: 215px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 20px;
    transition: all var(--transition-3) ease;
  }

  .footer .footer-top .container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    max-width: 1140px;
    margin-inline: auto;
  }

  .footer .footer-bottom .container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    max-width: 1140px;
    margin-inline: auto;
    width: min-content;
  }

  .footer-bottom :is(.text-content, .text-link) {
    width: max-content;
  }

  .header-one .icon-group .fly-number {
    font-size: var(--fs-7);
    background: var(--jet-3);
    position: absolute;
    text-align: center;
    color: var(--white);
    border-radius: var(--radius-circle);
    height: 25px;
    width: 23px;
    top: -4px;
    right: -11px;
  }

  /* desktop menu */
  .header-one .desktop-menu {
    display: flex;
    position: relative;
    margin-inline-start: 100px;
  }

  .header-one .menu {
    display: block;
    position: relative;
  }

  .header-one .dropdown-btn {
    position: relative;
  }

  .header-one .desktop-menu span {
    font-size: var(--fs-8);
  }

  .header-one .desktop-menu svg {
    margin-left: 10px;
  }

  .header-one .desktop-menu .dropdown-content {
    position: fixed;
    background: var(--white);
    width: 100%;
    padding-block: var(--padding-block-10);
    padding-inline: var(--padding-inline-10);
    left: 0;
    top: 48px;
    animation: rotateMenu 0.6s ease;
  }

  .header-one .desktop-menu .dropdown-content .wrapper {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding-inline: 20px;
    padding-block: 20px;
    gap: 20px;
  }

  .header-one .dropdown-content .wrapper ul li:first-child {
    text-transform: uppercase;
    font-weight: var(--fw-500);
    font-size: var(--fs-6);
  }

  .header-one .desktop-menu .dropdown-content button {
    color: var(--black);
  }

  .header-one .desktop-menu .dropdown-content ul li {
    padding-block: 10px;
    text-transform: capitalize;
    font-size: var(--fs-8);
  }

  .header-one .dropdown-content ul li button:hover {
    color: red !important;
    transition: all 0.5s ease;
  }

  .header-one .dropdown-content ul li button:hover {
    color: red !important;
    transition: all 0.5s ease;
  }

  /* MENU CART */
  .shopping-cart-content {
    left: -260px;
    width: 300px;
    transition: var(--transition-3);
  }

  /* SHOP LIST  */
  .shop-products .grid .wrapper {
    display: grid;
    gap: 10px;
    grid-template-columns: repeat(4, 1fr);
    padding-inline: 20px;
  }

  .shop-products .grid .product-item {
    margin: auto;
    box-shadow: var(--shadow-2);
    width: 100%;
    transition: var(--transition-1);
  }

  .product-item :is(.text-content, .title, .quick-add .title) {
    font-size: initial;
  }

  .shop-products .list .wrapper {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 30px;
  }

.shop-products .list .product-item {
  margin: auto;
  box-shadow: var(--shadow-2);
  width: 300px;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  width: 500px;
  height: 250px;
}

.shop-topbar .container {
  max-width: inherit;
  padding-inline: 20px;
}


}

/* ----------------------------
      - RESPONSIVE MIN 1200px
  --------------------------- */
@media (min-width: 1200px) {
  .container {
    max-width: var(--ll-maxwidth);
    margin-inline: auto;
  }

  .header-one .language {
    display: block;
  }

  .category-one .container {
    max-width: var(--ll-maxwidth);
    margin-inline: auto;
  }

  .banner-two .container {
    max-width: inherit;
    margin-inline: auto;
  }

  .shop-topbar .container {
    max-width: 1140px;
    padding-inline: 20px;
  }
  
  .shop-topbar .active {
    color: var(--second-color);
  }

  .product-detail .container {
    max-width: 1140px;
  }
  

}
