/* -------------------
    - CATEGRIE TAG
---------------------*/

.category-tag{
    background: var(--white_a25);
}

.category-tag .container{
    padding-block: var(--block-padding);
}

.category-tag .category-tag-list{
    display: flex;
    justify-content: space-between;
    overflow-x: scroll;
    padding-inline-start: var(--inline-padding);
    scroll-snap-type: inline mandatory;
}

.category-tag .category-tag-list::-webkit-scrollbar{
    display: none;
}

.category-tag .category-tag-item {
    min-width: 120px;
    scroll-snap-align: start;
}

.category-tag .category-tag-item  a{
    color: var(--dark-black);
    font-size: var(--fs-7);
    font-weight: bold;
}