/* ---------------------------
    - ANNONCE center
-----------------------------*/

.annonce-center
{
    background:var(--dark-black);
}

.annonce-center .container{
    padding-block: var(--block-padding);
    padding-inline: var(--inline-padding);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.annonce-center .text-title{
    color: var(--white);
    font-size: var(--fs-7);
}

.annonce-center .text-content{
    font-size: var(--fs-7);
    color: var(--white);
    font-weight: var(--fw-400);
}

.annonce-center .text-link{
    font-size: var(--fs-7);
    color: var(--white);
    font-weight: var(--fw-500);
    text-decoration: underline;
}
