/* --------------------
    - HEADER
--------------------- */
.header-one {}

.header-one .container {
    padding-block: var(--padding-block-10);
    padding-inline: var(--padding-inline-10);
}

.header-one .wrapper {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.header-one .icon-group {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.header-one .icon-group .icon {
    font-size: var(--fs-5);
    position: relative;
    margin-inline-end: 15px;
}

.header-one .icon-group .fly-number {
    font-size: var(--fs-8);
    background: var(--black);
    position: absolute;
    text-align: center;
    color: var(--white);
    border-radius: var(--radius-circle);
    height: 15px;
    width: 15px;
    top: -5px;
    right: -8px;
}

.header-one .language span {
    color: var(--radical-red);
}

.logo {
    font-size: var(--fs-4);
    font-weight: var(--fw-500);
    font-style: italic;
}


/* -------------------------
    - RESPONSIVE MIN 575px
--------------------------- */
@media (min-width:575px) {
    .header-one .container {
        max-width: 540px;
        margin-inline: auto;
    }
}


/* -------------------------
    - RESPONSIVE MIN 768px
--------------------------- */
@media (min-width:768px) {
    .header-one .container {
        max-width: 740px;
        margin-inline: auto;
    }
}

/* -------------------------
    - RESPONSIVE MIN 992px
--------------------------- */
@media (min-width:992px) {
    .header-one .container {
        max-width: 930px;
        margin-inline: auto;
    }

    .header-one .icon-group .fly-number {
        height: 20px;
        width: 20px;
    }

    .header-one .language-currency {
        display: flex;
        position: relative;
        gap: 80px;
    }

    .header-one .language {
        display: block;
    }

    .header-one .language span{
        font-size: var(--fs-8);
    }

    .header-one .language-currency .language-dropdown {
        position: absolute;
        background: var(--white);
        width: 150px;
        padding-block: var(--padding-block-10);
        padding-inline: var(--padding-inline-10);
        box-shadow: var(--shadow-2);
    }

    .header-one .language-currency .language-dropdown button {
        color: var(--black);
    }

    .header-one> :is(.hide) {
        display: block;
        animation: show var(--transition-3);

    }

    .header-one .language-dropdown ul li button:hover {
        color: red !important;
        transition: all .5s ease;
    }

    .header-one .language-dropdown ul li button:hover {
        color: red !important;
        transition: all .5s ease;
    }

}


/* -------------------------
    - RESPONSIVE MIN 1200px
--------------------------- */
@media (min-width:1200px) {
    .header-one .container {
        max-width: 1170px;
        margin-inline: auto;
    }

    .header-one .language {
        display: block;
    }
}