/* --------------------
    -   SLIDE
--------------------- */

.slide{

}

.slide .container{
    position: relative;
}

.slide .content{
    position:absolute;
    bottom:120px;
    left:0;
    padding-inline-start: 20px;
}

.slide .title{
  color: var(--white);
}

.slide .section-text{
  color: var(--white);
  font-size: var(--fs-6);
  font-weight: var(--fw-500);
}

.slide .action-btn{
    display: flex;
    flex-direction: row;
    position:absolute;
    bottom:20px;
    left:0;
    padding-inline-start: 20px;
    width: 100%;
    z-index: 1;
}

.slide .btn{
    margin-inline-end: 10px;
    color: var(--black);
    width: 100%;
}


.slide .subtitle{
    color: var(--black);
    text-transform: uppercase;
    font-size: var(--fs-7);
    font-weight: var(--fw-500);
}